html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body {
    margin: 10px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font: Arial;
}

.unselected {
    box-sizing: border-box;
    height: 50px;
    width: 120px;
    margin-right: 30px;
    margin-top: 30px;
    cursor: pointer;
    border: solid;
    border-width: 4px;
    border-color: #4c99af;
    background: #4c99af1f;
    color: #4c99af;
    font-size: 18px;
    outline: 0;
}


.unselected:hover {
    border-width: 4px;
    background-color: #84bac9;
    border-color: #438597;
    color: white;
}

/* .unselected::selection {
    background-color: yellow;
    color: #4c99af;
} */

.selected {
    box-sizing: border-box;
    height: 50px;
    width: 120px;
    margin-right: 30px;
    margin-top: 30px;
    cursor: pointer;
    border: solid;
    border-width: 4px;
    border-color: #4c99af;
    font-size: 18px;
    border-width: 4px;
    background-color: #4c99af;
    border-color: #4c99af;
    color: white;
    outline: 0;
}

#buttondiv {
    margin-bottom: 50px;
}

iframe {
    all: unset;
    width: 100%;
    border: solid;
    border-color: cornflowerblue;
    border-width: 6px;
    height: 650px;
    max-height: 650px;
}

li {
    margin: 10px;
    font-weight: 100;
}

.resumetitles {
    font-size: 18px;
    margin: 30px;
}

h1 {
    /* display: block; */
    /* float: left; */
    color: black;
}

#title {
    display: block;
    min-width: 500px;
    overflow-x: hidden;
    width: 100%;
    height: 100px;
    /* padding-left: 40px; */
    /* background: rgb(76,153,175); */
    /* background: linear-gradient(90deg, rgba(76,153,175,1) 0%, rgba(255,255,255,0) 100%); */
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
     -ms-animation: fadein 0.5s; /* Internet Explorer */
      -o-animation: fadein 0.5s; /* Opera < 12.1 */
         animation: fadein 0.5s;
}

h4 {
    background-color: #4c99af;
    color: white;
    margin-bottom: 0px;
    /* margin-top: 50px; */
    padding: 10px;
    font-size: 18px;
}

#phone {
    cursor: pointer;
}

h5 {
    margin-top: 0px;
    background-color: rgb(213, 232, 238);
    color: black;
    padding: 10px;
    min-height: 40px;
    font-size: 16px;
    margin-bottom: 50px;
    border: solid;
    border-color: rgb(213, 232, 238);
    border-left: 0px;
    border-right: 0px;
}

.resume-section {
    border: none;
    background: white;
}

.profimg {
    max-width: auto;
    max-height: 200px;
}

.appimg {
    max-width: auto;
    max-height: 250px;
    margin-left: 0px;
    margin: 10px;
    border-style: solid;
    border-color: #4c99af
}

#projects {
    align-self: center;
}

.appitem {
    vertical-align: top;
    display: inline-block;
    max-width: 400px;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
    margin-bottom: 20px;
}

.appitem:hover {
    background: #badbe6;
}

.appitem:hover > h5 {
    border: solid;
    border-color: #4c99af;
    border-left: 0px;
    border-right: 0px;
    background-color: rgb(236, 242, 245);
}

.appitem h4 {
    margin-top: 0px;
}

#imgblock {
    opacity: 1;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 1s; /* Firefox < 16 */
 -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
     animation: fadein 1s;
     animation-delay: 0s;
     -webkit-animation-delay: 0s;
     
    background: rgb(164,203,214);
background: linear-gradient(90deg, rgba(164,203,214,0) 0%, rgba(76,153,175,1) 50%, rgba(164,203,214,0) 100%);
}

#buttondiv {
    opacity: 1;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 1.3s; /* Firefox < 16 */
 -ms-animation: fadein 1.3s; /* Internet Explorer */
  -o-animation: fadein 1.3s; /* Opera < 12.1 */
     animation: fadein 1.3s;
     animation-delay: 0s;
     -webkit-animation-delay: 0s;
}

.resume {
    opacity: 1;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 1.5s; /* Firefox < 16 */
 -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
     animation: fadein 1.5s;
     animation-delay: 0s;
     -webkit-animation-delay: 0s;
}


/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein{
    0%{opacity:0}
    50%{opacity:0}
    100%{opacity:1}
}

@-webkit-keyframes fadein{
    0%{opacity:0}
    50%{opacity:0}
    100%{opacity:1}
}

@media screen and (max-width: 780px) {
    .hideif {
        display: none !important;
    }
}

#se {
    position: relative;
    right: 90px;
    bottom: -28px;
    font-size: 24px;
    font-style: italic;
    color: gray;
    display: inline-block;
    font-weight: 100;
}

#bs {
    position: relative;
    display: inline-block;
    right: -50px;
}

#contact h5 {
    margin-top: 30px;
    background-color: white;
    border: none;
}